In [2]:
import language_tool_python as ltp
tool = ltp.LanguageTool('en-US')
text = 'A sentence with a error in the Hitchhiker’s Guide tot he Galaxy'
matches = tool.check(text)
len(matches)

Downloading LanguageTool: 100%|██████████| 189M/189M [00:31<00:00, 6.07MB/s]
Unzipping /tmp/tmpz37qpiva.zip to /root/.cache/language_tool_python.
Downloaded https://www.languagetool.org/download/LanguageTool-5.1.zip to /root/.cache/language_tool_python.

2

In [5]:
for m in matches:
    print(m.replacements)

['an']
['to the']

In [66]:
type(tool.correct(text))

str

## Now, Iterate through given Xlsx file
This process requires:
- xlrd
- openpyxl
- pandas

In [80]:
import pandas as pd
import openpyxl as opx
import xlrd

xlsx = pd.read_excel('./comparison.xlsx')
xlsx

,test,원어민,고대,https://www.nounplus.net/,us,비고
0,A little spark kindles great fire.,A little spark kindles a great fire.,NaN,NaN,NaN,NaN
1,"After dinner, my mother suggested to go for a ...","After dinner, my mother suggested going for a ...",NaN,NaN,NaN,NaN
2,"Although it’s raining, but she still go out.","Although it’s raining, she still goes out.",NaN,NaN,NaN,NaN
3,"Are you a saler, Jame?","Are you a salesman, Jame?",NaN,NaN,NaN,NaN
4,Are your work busy ?,Do you have a busy job ?,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
166,"You like ice cream, isn’t it?","You like ice cream, don’t you?",NaN,NaN,NaN,NaN
167,You may not realize that how important time is.,You may not realize how important time is.,NaN,NaN,NaN,NaN
168,You should describe what has happened detailly.,You should describe what has happened in detail.,NaN,NaN,NaN,NaN
169,Your advice is great significance.,Your advice is of great significance.,NaN,NaN,NaN,NaN
170,Your writing needs to be improving.,Your writing needs to be improved.,NaN,NaN,NaN,NaN

In [81]:
data_corpus = xlsx['test']
data_corpus

0                     A little spark kindles great fire.
1      After dinner, my mother suggested to go for a ...
2           Although it’s raining, but she still go out.
3                                 Are you a saler, Jame?
4                                   Are your work busy ?
                             ...
166                        You like ice cream, isn’t it?
167      You may not realize that how important time is.
168      You should describe what has happened detailly.
169                   Your advice is great significance.
170                  Your writing needs to be improving.
Name: test, Length: 171, dtype: object

In [82]:
new_us = xlsx['us'].copy()

i = 0
for d in data_corpus:
    new_us[i] = tool.correct(d)
    i = i+1

new_us.to_excel('./output_languageTool.xlsx')
new_us.head()

0                   A little spark kindles great fire.
1    After dinner, my mother suggested going for a ...
2       Although it’s raining, but she still goes out.
3                                Are you a sale, Jame?
4                                 Are your work busy ?
Name: us, dtype: object

In [83]:
from textblob import TextBlob as tb
misspell = "A little spark kindles great fire."
corrected = tb(misspell).correct()
print(corrected)

A little spark kindled great fire.

In [84]:
new_blob = xlsx['us'].copy()

i = 0
for d in data_corpus:
    new_blob[i] = tb(d).correct()
    i = i+1

new_blob.to_excel('./output_textBlob.xlsx')
new_blob.head()

0    (A,  , l, i, t, t, l, e,  , s, p, a, r, k,  , ...
1    (A, f, t, e, r,  , d, i, n, n, e, r, ,,  , m, ...
2    (A, l, t, h, o, u, g, h,  , i, t, ’, s,  , r, ...
3    (A, r, e,  , y, o, u,  , a,  , s, a, b, e, r, ...
4    (A, r, e,  , y, o, u, r,  , w, o, r, k,  , b, ...
Name: us, dtype: object